*{
	margin: 0;
	padding:0; 
}

html{
font-family: 'Open Sans', sans-serif;
}

a{
	text-decoration: none;
	color: black;
}

/*Header*/
header{
	width: 100%;
	position: fixed;
	z-index: 10000;
}

#navbar{
background: #fff;
margin: 0.5rem 1.5rem;
display: flex;
justify-content: space-between;
letter-spacing: 4px;

}

#navbar .h1{
	margin-top: 0.5rem;
}

#navbar .h1 a{
	
		padding: 0.5rem 1rem;
	
}	
#navbar .h1 a:hover{

	background: #CCCCCC;
}

#navbar ul{
	display: flex;
	flex-direction: row;
	list-style-type: none;

}
#navbar ul li{
	padding: 8px 16px;

}
#navbar ul li:hover{
background: #CCCCCC;

}

/*Section home*/
#home{
	position: relative;
}
#home .image{
	position: absolute;
	left: 550px;
	top:300px;

}
#home .image h1{
font-size: 2rem;
letter-spacing: 4px;
color: #fff;
font-weight: 500;
}

#home .image h1 span{
	opacity: 0.6;
	color: #fff;
	background: black;
	padding: 0.5rem 1rem;
}

/*Projects*/
#projects .img-c{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
#projects .img-c .picture{
	width: 24%;
	height: 230px;
	position: relative;
}
#projects .img-c .picture img{
	width: 100%;
} 

#projects .img-c .picture .inside-img{
position: absolute;
top: 0;
left: 0;

}
#projects .img-c .picture .inside-img p{
	color: #fff;
	background: #000000;
	padding: 0.5rem 1rem;
}

/*About*/
#about .img-a{
	display: flex;
	justify-content: space-evenly;

}
#about .img-a .picture-img{
	width: 24%;
	height: 240px;
}

#about .img-a .picture-img img{
	width: 100%;
}

 .about-cards{
width: 100%;
display: flex;
justify-content: space-evenly;
align-items: center;


}
.about-cards .card{
	width: 23%;
	margin: 10px;
}
.about-cards .card img{
width: 100%;

}
.about-cards .card p{
	margin: 1.5rem;
}


.about-cards button{
	width: 100%;
	padding: 10px;
	border: none;
}
.about-cards .card-name{
	font-size: 1.5rem;
}
.about-cards .card-position{
	opacity: 0.6;
}

/*Contact*/
#contact .ppp p{
	margin-top: -1rem;
	padding-left: 1rem;
}

#contact form p{
	margin: 1rem;
	margin-right: 2rem; 

}
#contact form p input{
	padding: 0.5rem;
	width: 100%;
	padding-left: 10px;
	font-size: 1rem;
}
#contact form p button{
	padding: 0.5rem 1rem;
	background: #000000;
	color: #fff;
	border: none;
	font-size: 1rem;
}

#contact form p button:hover{
	background: #CCCCCC;
	color: #000000;
	cursor: pointer;
}
#contact .img3 img{
	max-width: 1450px;
	margin: 1rem;
}
/*footer*/
.son{
	text-align: center;
	background: #000000;
	color: #fff;
	padding: 3rem;
	font-size: 1rem;
}

.bye{
	text-decoration: underline;
	color: #fff;
}
.bye:hover{
	color: green;
}